# Ignore everything
*

# Except for README.md and .gitignore
!README.md
!.gitignore

# Except for these files and directories
# Main file
!*.tex

# Sections files
!Sections/
!Sections/*

# Bibliography
!*.bib

# Output file
!*.pdf

# Figure directory
!Figure/
!Figure/*